version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    hostname: backend
    networks:
      - app-network
    expose:
      - "8080"
    user: "1000"
    read_only: true
    restart: unless-stopped

  nginx:
    image: nginx:1.29.4
    container_name: nginx
    hostname: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    depends_on:
      - backend
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
